{% extends 'base.html' %}

{% block content %}

<section class="container-fluid insider">
	<div class="data">
		{% include 'mini.html' %}Continuous passive authentication</h2>
		<p class="mb-4 pr3">Run one of the scenarios below to see how Relock responds to the most common modern attacks responsible for >70% of all data breaches. Each scenario will take you through a series of steps to simulate the attack. No malicious activity is actually performed, and it will not affect your system.</p>

		<div class="w-100 mb-5">&rarr; </div>

		<div class="row mb-5 w-100 align-items-start">
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='ticket.svg') }}" class="ico mb-3" />
		  	<h3>Session token hijacking</h3>
		  	<p class="mono f1">Adversary using various authentication bypass techniques can anonymously take over an active session, even Passkey protected ones.</p>
		  	<a href="{{ url_for('simulator.hijacking') }}">&rarr; run scenario</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='adversary-in-the-middle.svg') }}" class="ico mb-3" />
		  	<h3>Adversary-in-the-middle</h3>
		  	<p class="mono f1">(AITM) phishing uses dedicated tooling to act as a web proxy between the victim and a legitimate app. New toolkits can bypass any kind MFA.</p>
		  	<a href="{{ url_for('simulator.adversary') }}">&rarr; run scenario</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('index.static', filename='hacker.svg') }}" class="ico mb-3" />
		  	<h3>Adversary-as-a-browser</h3>
		  	<p class="mono f1">(AAAB) phishing takes full control of the user's browser tab through sophisticated tools for live browser environment spoofing.</p>
		  	<a href="{{ url_for('simulator.environment') }}">&rarr; run scenario</a>
		  </div>
		</div>

		<div class="row mb-5 w-100 align-items-start">
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='password.svg') }}" class="ico mb-3" />
		  	<h3>Credential theft</h3>
		  	<p class="mono f1">The re-use of stolen credentials and/or  weak credential compromise, in an attempt to authenticate to other services.</p>
		  	<a href="{{ url_for('simulator.stuffing') }}">&rarr; run scenario</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='malware.svg') }}" class="ico mb-3" />
		  	<h3>Infostealers</h3>
		  	<p class="mono f1">In computing, infostealers are a form of malicious software created to breach computer systems to steal sensitive information.</p>
		  	<a href="{{ url_for('simulator.infostealers') }}">&rarr; run scenario</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='csrf.svg') }}" class="ico mb-3" />
		  	<h3>Cross-Site Request Forgery</h3>
		  	<p class="mono f1"> (CSRF) is a web security vulnerability that allows an attacker to induce users to perform actions that they do not intend to perform.</p>
		  	<a href="{{ url_for('simulator.requests') }}">&rarr; run scenario</a>
		  </div>
		</div>

		<div class="row w-100 align-items-start">
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='forward.svg') }}" class="ico mb-3" />
		  	<h3>Bypass by capture-replay</h3>
		  	<p class="mono f1">A replay flaw exists when the design of the product makes it possible for a malicious user to sniff network traffic.</p>
		  	<a href="{{ url_for('simulator.reply') }}">&rarr; run scenario</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='session.svg') }}" class="ico mb-3" />
		  	<h3>Insufficient Session Management</h3>
		  	<p class="mono f1">Insufficient Session Management is when a web app permits an attacker to reuse old session credentials for authorization.</p>
		  	<a href="{{ url_for('simulator.sessions') }}">&rarr; run scenario</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('simulator.static', filename='xss.svg') }}" class="ico mb-3" />
		  	<h3>Cross-site Scripting (XSS)</h3>
		  	<p class="mono f1">(XSS) is a security vulnerability that allows an attacker to inject malicious scripts into web pages viewed by other users. </p>
		  	<a href="{{ url_for('simulator.cross_site_scripting') }}">&rarr; run scenario</a>
		  </div>

		</div>

	</div>
</section>	

{% endblock %}