asn1crypto==1.5.1
async-timeout==5.0.1
bidict==0.23.1
bleach==6.2.0
blinker==1.9.0
Bootstrap-Flask==2.5.0
Brotli==1.1.0
cachelib==0.13.0
cbor2==5.6.5
certifi==2022.9.24
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
cryptography==45.0.4
cryptography-vectors==38.0.4
dnspython==2.7.0
email_validator==2.2.0
fe25519==1.5.0
Flask==3.1.1
Flask-Compress==1.17
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Minify==0.50
Flask-Session==0.8.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
ge25519==1.5.1
gevent==22.10.2
greenlet==2.0.2
h11==0.16.0
htmlminf==0.1.13
idna==3.3
itsdangerous==2.2.0
Jinja2==3.1.6
jsmin==3.0.1
lesscpy==0.15.1
libvalkey==4.0.1
MarkupSafe==3.0.2
msgspec==0.19.0
mysqlclient==2.2.7
netifaces==0.11.0
numpy==1.24.2
password-validator==1.0
ply==3.11
pycparser==2.21
pyOpenSSL==25.1.0
python-dotenv==0.21.0
python-engineio==4.12.2
python-socketio==5.13.0
rcssmin==1.2.1
redis==6.2.0
relock @ file:///usr/src/sdk
requests==2.28.1
simple-websocket==1.1.0
six==1.16.0
SQLAlchemy==2.0.41
tomli==2.0.1
typing_extensions==4.14.0
ujson==5.7.0
urllib3==1.26.12
valkey==6.1.0
webauthn==2.5.2
webencodings==0.5.1
Werkzeug==3.1.3
wsproto==1.2.0
WTForms==3.2.1
xxhash==0.0.0
zope.event==4.4
zope.interface==5.5.2
zstandard==0.23.0