{% extends 'base.html' %}

{% block content %}

<section class="container-fluid insider">
	<div class="data">
		<h2 class="mb-5"><img src="{{ url_for('static', filename='logo/relock.svg') }}" class="h2" />Cross-Site Scripting (XSS)</h2>

		<div class="row">
			<div class="col-2 mono f1">[problem statement]</div>
			<div class="col"><p class="mb-4 pr3">An adversary embeds malicious scripts in content that will be served to web browsers. The goal of the attack is for the target software, the client-side browser, to execute the script with the users' privilege level. An attack of this type exploits a webpage vulnerabilities that are brought on by allowing remote hosts to execute code and scripts. Web browsers, for example, have some simple security controls in place, but if a remote attacker is allowed to execute scripts (through injecting them in to user-generated content like bulletin boards) then these controls may be bypassed. Further, these attacks are very difficult for an end user to detect.</p></div>
		</div>

		<div class="row">
			<div class="col-2 mono f1">[expected behaviour]</div>
			<div class="col"><p class="mb-4 pr3">Passive authentication is not designed to prevent an XSS attack, but it does include a key distribution mechanism that prevents the extraction of all the data needed to intercept the transient key and user session. However, it should be noted that an XSS attack is still a threat as the adversary has the ability to control the code on the vulnerable web page.</p></div>
		</div>

		<div class="row mb-5 w-100 align-items-start gray">
		  <h4 class="mb-3">Sandbox playground</h4>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='extract.svg') }}" class="mb-2" />Extract sensitive data</h3>
		  	<p class="mono f1 w-75">This action mimics the exfiltration of sensitive data from this browser by a malicious (XSS) injected script. The cryptographic transient key is exposed by the attack and can be transferred to another machine.</p>
			<div class="mono f1 w-75">Transient key ID: <span id="identity">None</span></div>
			<div class="mono f1 w-75 mb-3">Enviroment ready: <span id="data">None</span></div>
		  	<a href="{{ url_for('simulator.reply') }}" id="fetch">Simulate of an attack</a>
		  </div>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='unauthorized.svg') }}" class="mb-2" />Make malicious request to server</h3>
		  	<p class="mono f1 w-75">Attempts to query the server with extracted data from your previous session. The attacker will have all the data except HTTP_ONLY cookies, which Javascript does not have access to.</p>
		  	<p class="mono f1 w-75">Remember to always use a <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP" target="_blank">Content Security Policy</a> (CSP) to tell the browser which JS/CSS resources it should be execute, as XSS is still a common threat.</p>

		  	<a href="{{ url_for('simulator.cross_site_scripting') }}" id="reply">Make request as an adversary</a>
		  </div>
		</div>

		<script type="text/javascript" nonce="{{ request_nonce() }}">
			
			(function () {
				'use strict'

				window.addEventListener('XKeyEstablished', function(event){

					document.getElementById('fetch').addEventListener("click", (event) => {
						event.preventDefault();
						let token = window.relock.token()
						let signature = window.relock.sign(token)
						fetch('{{ url_for('simulator.cross_site_scripting') }}', {
							  method: 'POST',
							  headers: {'Content-Type': 'application/json',
									    'accept': 'application/json',
									    'X-Key-Token': token.hexlify(),
									    'X-Key-Signature': signature.hexlify(),
									    'X-Key-Time': Math.round(+new Date()/1000),
									    'Access-Control-Allow-Credentials': 'true',
									    'X-CSRFToken': document.csrf()},
							  credentials: 'include'
						}).then((response) => response.json())
 						  .then((data) => {
 						  	  document.getElementById('identity').innerHTML = window.relock.id.hexlify()
 						  	  document.getElementById('data').innerHTML = data.status
						  }).catch((error) => {
							console.error('Token validation failure:', error);
						  })
   				   	});
				})
			})()

		</script>

		<div class="row">
			<div class="col-2 mono f1">[security examples]</div>
			<div class="col">
				<p class="mb-4 pr3">https://medium.com/@Land2Cyber/real-world-examples-of-xss-attacks-and-how-they-were-executed-531e0e33e85b</p>
				<p class="mb-4 pr3">https://developer.mozilla.org/en-US/docs/Web/Security/Attacks/XSS</p>
			</div>
		</div>

	</div>
</section>	

{% endblock %}