{% extends 'base.html' %}

{% block content %}

<section class="container-fluid insider">
	<div class="data">
		<h2 class="mb-5"><img src="{{ url_for('static', filename='logo/relock.svg') }}" class="h2" />Adversary as a Browser phishing</h2>

		<div class="row">
			<div class="col-2 mono f1">[problem statement]</div>
			<div class="col"><p class="mb-4 pr3">In an Adversary-as-a-Browser attack the attacker uses a sophisticated toolkit to set up a second, fully functional browser that acts as a daemon on the server side. The attack allows the attacker to intercept and modify any content produced by the legitimate server, as well as access and compromise any user input.</p>
			<p class="mb-4 pr3">These attacks are the pinnacle of identity threats and are impossible to detect using traditional mechanisms.</p>
			<p class="mb-4 pr3">Currently the only protection against these attacks is the implementation of passkeys or other X.509 / FIDO hardware keys as the only allowed authentication option (e.g., if password is offered as backup, attackers can only display that option).</p></div>
		</div>

		<div class="row">
			<div class="col-2 mono f1">[simulation scenario]</div>
			<div class="col"><p class="mb-3 pr3">In this scenario you will experience an AaaB phishing attack as a victim protected by a “Strict Verification” policy. The application will send you a simulated phishing link. Once you click on it you will be redirected to an “evil” proxy posing as a legitimate login portal for the demo. Go ahead and log in with the credentials that you established, thus making them available to the “attacker”.</p></div>
		</div>

		<div class="row">
			<div class="col-2 mono f1">[expected behaviour]</div>
			<div class="col"><p class="mb-4 pr3">As the “attacker” introduces your credentials to the system to intercept access, they are discovered as a new device due to the lack of passive authentication keys. The system is set to “Strict Verification” and asks the user to confirm with the previous device, thus preventing the attack.</p></div>
		</div>

		<div class="row mb-5 w-100 align-items-start gray">
		  <h4 class="mb-3">Sandbox playground</h4>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='protection.svg') }}" class="mb-2" />1. Set “Strict Verification” policy</h3>
		  	<p class="mono f1 w-75 mb-5">Click on the button below to enable the “Strict Verification” policy. This prevents any new devices from being verified while the function is active.</p>
		  	<button href="{{ url_for('simulator.environment') }}" class="btn mt-4 {% if protected == 'strict' %}btn-success{% else %}btn-secondary{% endif %} ms-auto w-50" name="{{ protected }}" id="switch">
		  	{% if protected == 'strict' %}
		  		Disable strict verification
		  	{% else %}
		  		Enable strict verification
		  	{% endif %}</button>
		  </div>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='mail.svg') }}" class="mb-2" />2. Send a phishing email</h3>
		  	<p class="mono f1 w-75">Click on the button below to send a phishing email with a link to the “evil” daemon browser controlled by the simulated attacker. Go ahead and get phished. Notice how the attacker looks the same as the legitimate application but uses a different domain address. </p>
		  	<button href="{{ url_for('simulator.environment') }}" class="btn btn-primary ms-auto w-50" id="send">
		  	Send a phishing email</button>
		  </div>
		</div>

		<div class="row">
			<div class="col-2 mono f1">[What exactly happened?]</div>
			<div class="col"><p class="mb-3 pr3">When an attacker intercepts your login and password through the “evil” daemon browser, they do not have access to your Relock passive authentication keys, as these are origin-bound (they are never disclosed to an incorrect domain).</p>
			<p class="mb-4 pr3">In this case the application sees the attacker as a new device and uses the highest security method selected to verify a new device – in this case a strict verification with the previous device.</p>
			<p class="mb-4 pr3">The security message displayed allows you to confirm that you are targeted by a phishing attack.</p>
			</div>
		</div>

		<script type="text/javascript" nonce="{{ request_nonce() }}">
			
			(function () {
				'use strict'

				window.addEventListener('XKeyEstablished', function(event){
					document.getElementById('switch').addEventListener("click", (event) => {
						event.preventDefault();
						let token = window.relock.token()
						let signature = window.relock.sign(token)
						let button = document.getElementById('switch')
						console.log(button.getAttribute('name'))
						fetch('{{ url_for('simulator.environment') }}', {
							  method: 'POST',
							  headers: {'Content-Type': 'application/json',
									    'accept': 'application/json',
									    'X-Key-Token': token.hexlify(),
									    'X-Key-Signature': signature.hexlify(),
									    'X-Key-Time': Math.round(+new Date()/1000),
									    'Access-Control-Allow-Credentials': 'true',
									    'X-CSRFToken': document.csrf()},
							  credentials: 'include',
							  body: JSON.stringify({protected: button.getAttribute('name')})
						}).then((response) => response.json())
 						  .then((data) => {
 						  	  button.setAttribute('name', data.protected)
 						  	  if(data.protected == 'strict'){
 						  		button.innerHTML = 'Disable strict verification'
 						  		button.classList.add('btn-success')
 						  		button.classList.remove('btn-secondary')
 						  	  } else {
 						  	  	button.innerHTML = 'Enable strict verification'
 						  	  	button.classList.add('btn-secondary')
 						  	  	button.classList.remove('btn-success')
 						  	  }

						  }).catch((error) => {
							console.error('Token validation failure:', error);
						  })
   				   	});

					document.getElementById('send').addEventListener("click", (event) => {
						event.preventDefault();
						let token = window.relock.token()
						let signature = window.relock.sign(token)
						fetch('{{ url_for('simulator.adversary') }}', {
							  method: 'POST',
							  headers: {'Content-Type': 'application/json',
									    'accept': 'application/json',
									    'X-Key-Token': token.hexlify(),
									    'X-Key-Signature': signature.hexlify(),
									    'X-Key-Time': Math.round(+new Date()/1000),
									    'Access-Control-Allow-Credentials': 'true',
									    'X-CSRFToken': document.csrf()},
							  credentials: 'include'
						}).then((response) => response.json())
 						  .then((data) => {
 						  	  document.getElementById('send').innerHTML = 'Send phishing email again'
						  }).catch((error) => {
							console.error('Token validation failure:', error);
						  })
   				   	});
				});
			})()

		</script>

	</div>
</section>	

{% endblock %}