{% extends 'base.html' %}

{% block content %}

<section class="container-fluid insider">
	<div class="data">
		<h2 class="mb-5"><img src="{{ url_for('static', filename='logo/relock.svg') }}" class="h2" />Permissive and Strict Session Management</h2>

		<div class="row">
			<div class="col-2 mono f1">[problem statement]</div>
			<div class="col"><p class="mb-4 pr3">In order to minimize the time period an attacker can launch attacks over active sessions and hijack them, many apps don't set expiration timeouts properly, and not controls the amount of time a session will remain active. Insufficient session expiration by the web application increases the exposure of other session-based attacks, as for the attacker to be able to reuse a valid session token and hijack the associated session, it must still be active.</p></div>
		</div>

		<div class="row">
			<div class="col-2 mono f1">[expected behaviour]</div>
			<div class="col"><p class="mb-4 pr3">Passive authentication should detect browser tab opening and closing events and destroy inactive dormant sessions without adding unnecessary friction. If web applications require automatic login for returning users, it's a much wiser choice to use cryptographic keys rather than Remember-Me cookies.</p></div>
		</div>

		<div class="row mb-5 w-100 align-items-start gray">
		  <h4 class="mb-3">Sandbox playground</h4>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='multiple.svg') }}" class="mb-2" />Run multiple tabs</h3>
		  	<p class="mono f1 w-75">The passive system includes user screen monitoring. This is intendent to prevent browsers from restoring a session after the user has closed all tabs.</p>
		  	<div class="mono f1 w-75 mb-3">Screen ID: <span id="identity">None</span></div>
		  	<!-- <div class="mono f1 w-75 mb-3">Server-side: <span id="server">None</span></div> -->
		  	<a href="{{ url_for('simulator.sessions') }}" target="_blank" class="me-2">Tab 01</a>
		  	<a href="{{ url_for('simulator.sessions') }}" target="_blank" class="me-2">Tab 02</a>
		  	<a href="{{ url_for('simulator.sessions') }}" target="_blank" class="me-2">Tab 03</a>
		  	<!-- <a href="{{ url_for('simulator.sessions') }}" target="_blank" class="ms-5" id="check">Check server-side</a> -->
		  </div>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='close.svg') }}" class="mb-2" />Close all the browser tabs</h3>
		  	<p class="mono f1 w-75">Passive authentication will destroy the session, regardless of how long the server-side session lasts, if all cards are properly closed by the user and a strict screen policy is set.</p>
		  	<div class="mono f1 w-75 mb-3">No logout action needed.</div>
		  </div>
		</div>

		<script type="text/javascript" nonce="{{ request_nonce() }}">
			
			(function () {
				'use strict'

				window.addEventListener('XKeyEstablished', function(event){

					document.getElementById('identity').innerHTML = window.relock.screen.hexlify()

					// document.getElementById('check').addEventListener("click", (event) => {
					// 	event.preventDefault();
					// 	let token = window.relock.token()
					// 	let signature = window.relock.sign(token)
					// 	fetch('{{ url_for('simulator.sessions') }}', {
					// 		  method: 'POST',
					// 		  headers: {'Content-Type': 'application/json',
					// 				    'accept': 'application/json',
					// 				    'X-Key-Token': token.hexlify(),
					// 				    'X-Key-Signature': signature.hexlify(),
					// 				    'X-Key-Time': Math.round(+new Date()/1000),
					// 				    'Access-Control-Allow-Credentials': 'true',
					// 				    'X-CSRFToken': document.csrf()},
					// 		  credentials: 'include'
					// 	}).then((response) => response.json())
 					// 	  .then((data) => {
 					// 	  	  document.getElementById('server').innerHTML = JSON.stringify(data)
					// 	  }).catch((error) => {
					// 		console.error('Token validation failure:', error);
					// 	  })
   				   	// });
				})
			})()

		</script>

		<div class="row">
			<div class="col-2 mono f1">[security examples]</div>
			<div class="col">
				<p class="mb-4 pr3">https://medium.com/@ad.abhi0013/understanding-session-management-vulnerabilities-the-case-of-password-resets-0f5bb123f598</p>
			</div>
		</div>

	</div>
</section>	

{% endblock %}