{% extends 'base.html' %}

{% block content %}

<section class="container-fluid insider">
	<div class="data">
		<h2 class="mb-5"><img src="{{ url_for('static', filename='logo/relock.svg') }}" class="h2" />Credential theft</h2>

		<div class="row">
			<div class="col-2 mono f1">[problem statement]</div>
			<div class="col"><p class="mb-4 pr3">In an attack with stolen credentials the attacker attempts to either gain direct access to an application using the victim’s login and password or to use a known set of credentials across multiple applications to see if the same password has been used anywhere else (credential stuffing).</p>
			<p class="mb-4 pr3">Even though a simple, non-phishing resistant second factor is enough to protect against these attacks now, they still account for ~30% of all access breaches and especially affect customer-facing applications where MFA suffers from low adoption.</p></div>
		</div>

		<div class="row">
			<div class="col-2 mono f1">[simulation scenario]</div>
			<div class="col"><p class="mb-4 pr3">In this scenario you will act as an attacker using stolen credentials to access a legitimate user’s account. The application will give you a set of existing, “stolen” credentials and you will attempt to access the system.</p></div>
		</div>

		<div class="row">
			<div class="col-2 mono f1">[expected outcome]</div>
			<div class="col"><p class="mb-4 pr3">Relock passive authentication discovers that you are attempting to access the system from a device that had not been verified and react depending on security policy, thus stopping the attack.</p></div>
		</div>

		<div class="row mb-5 w-100 align-items-start gray">
		  <h4 class="mb-3">Sandbox playground</h4>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='credential.svg') }}" class="mb-2" />Get stolen credentials</h3>
		  	<p class="mono f1 w-75">Yes, password strength does not matter as account is protected by passive authentication with 1024 bit high entropy cryptographic keys.</p>
		  	<p class="mono f1 w-75 mb-1">Demo login: <span id="identity">demo@relock.id</span></p>
		  	<p class="mono f1 w-75 ps-3">Password: <span id="identity">admin123</span></p>
		  </div>
		  <div class="col">
		  	<h3><img src="{{ url_for('simulator.static', filename='password.svg') }}" class="mb-2" />Incognito login</h3>
		  	<p class="mono f1 w-75">Open an incognito tab in your browser and attempt malicious login, use the provided “stolen” credentials to access the system.</p>
		  </div>
		</div>

		<script type="text/javascript" nonce="{{ request_nonce() }}">
			
			(function () {
				'use strict'

				window.addEventListener('XKeyEstablished', function(event){
					
				});
			})()

		</script>

	</div>
</section>	

{% endblock %}