{% set block_hamburger = True %}
{% set block_footer = True %}

{% extends 'section.html' %}

{% block body %}

	<div class="card-body p-5">
		<h1 class="fs-4 card-title fw-bold mb-3">Phishing resiliency info</h1>
		<div class="mb-4 login-checkboxes">
			<p class="text-muted mono mb-3">Your device policy is now set to 'Strict Verification.' This means that access to your account is permitted exclusively from this device. Even if someone obtains your password, access will be denied without the device.</p>
			<h4>How to use multiple browsers</h4>
			<p class="text-muted mono">If you wish to use another browser, activation will be required. The activation option will appear on this device during the login attempt/screen. If your intention is to add a new device, you can enable an authorization time window and register the new browser. This is a one-time process.</p>
		</div>

        <div class="align-items-center d-flex">
            <a href="{{ url_for('index.index') }}" type="submit" class="btn btn-primary ms-auto w100">
                Continue   
            </a>
        </div>
	</div>

{% endblock %}