{% extends 'base.html' %}

{% block content %}
	<section class="h-80">
		<div class="container has-text-centered h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="">
					{% include 'logo.html' %}
					<div class="card shadow-lg">
						
						{% block body %}{% endblock %}

					</div>
					<div class="text-center mt-5 text-muted mono">
						Copyright &copy; 2025 &mdash; relock Inc.
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{{url_for('index.static', filename='login.js')}}" nonce="{{ request_nonce() }}"></script>
{% endblock %}