{% extends 'base.html' %}

{% block content %}

<section class="container-fluid insider">
	<div class="data">
		<h2 class="mb-5">Welcome to Relock Passive Authentication demo! </h2>
		<p class="mb-4 pr3">Passive Authentication is a new, ground-breaking access security software tool that allows you to verify users at each request to your application without the need for any action on their end. Zero trust reinvented with zero friction.</p>

		<p class="mb-5 pr3">This demo is a simple login application – secured with password only – that has Relock running in the background. It allows you to see how the technology works, even paired with weak authentication, and run simulations of attacks that without it would lead to a breach. </p>

		<div class="w-100 mb-5">&rarr; </div>

		<div class="row w-100 align-items-start">
		  <div class="col">
		  	<img src="{{ url_for('index.static', filename='resources.svg') }}" class="ico mb-3" />
		  	<h3>How it works</h3>
		  	<p class="mono f1">See how Passive Authentication becomes invisible for your legitimate users.</p>
		  	<a href="{{ url_for('index.index') }}">&rarr; Tech overview</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('index.static', filename='evil.svg') }}" class="ico mb-3" />
		  	<h3>EvilCat - attack simulator</h3>
		  	<p class="mono f1">Put your red hat on and check how Passive Authentication prevents devastating attacks.</p>
		  	<a href="{{ url_for('simulator.index') }}">&rarr; Tech overview</a>
		  </div>
		  <div class="col">
		  	<img src="{{ url_for('static', filename='logo/comunity.svg') }}" class="ico mb-3" />
		  	<h3>Learn more</h3>
		  	<p class="mono f1">Explore technology resources more in depth and test it with your own application.</p>
		  	<a href="{{ url_for('index.index') }}">&rarr; Tech overview</a>
		  </div>
		</div>

	</div>
</section>	

{% endblock %}