{% extends 'section.html' %}

{% block body %}

	<div class="card-body p-5">
		<h1 class="fs-4 card-title fw-bold mb-4">Strict verification policy</h1>
		<div class="mb-4">
			<p class="text-muted mono mb-5">Your new device policy is set to “Strict Verification”. To verify a new device, access the application on your previous device and enable it in the security settings.</p>
			<h4>Beware of phishing!</h4>
			<p class="text-muted mono">Have you used this application here before? You are likely being phished. Check the address bar and see if the domain is correct. As a security precaution, close the browser, open a new tab and come back to the application directly.</p>
			<p class="text-muted mono">Alert your administrator if you have been directed here by any suspicious links!</p>
		</div>
	</div>

{% endblock %}