{% extends 'section.html' %}

{% block body %}

<div class="card-body p-5">
    <h1 class="fs-4 card-title fw-bold mb-4">{% if token %}Log in to set up passkey{% elif email %}{{ email }}{% else %}Sign in{% endif %}</h1>
    <form method="POST" action="{{ url_for('auth.password', token=token) }}" class="needs-validation" novalidate="">

        {% if email %}
            <div class="mb-4">
                {% if token %}
                <p class="text-muted mono">To set up passkey on this device login is required. Use your password for authentication.</p>
                {% else %}
                <p class="text-muted mono">Welcome back. Your device has been successfully <br/>recognised. Please enter your password to log in.</p>
                {% endif %}
            </div>
        {% endif %}

        {% if 'user' in error %}
            <script type="text/javascript" nonce="{{ request_nonce() }}">
                (function () {
                    'use strict'
                    window.addEventListener('XKeyEstablished', function(event){
                        document.location = "{{ url_for('auth.clear') }}"
                    });
                })()
            </script>
        {% else %}
            <div class="mb-3">
                <label class="mb-2 text-muted" for="password">Password</label>
                <input id="password" type="password" 
                                     class="form-control" 
                                     name="password"
                                     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                     minlength="8"
                                     maxlength="64" 
                                     placeholder=""
                                     autocomplete="current-password" 
                                     value="{% if passwd!=None %}{{ passwd }}{% endif %}"
                                     autofocus
                                     required>
                <div class="invalid-feedback{% if 'passwd' in error or 'invalid' in error %} visible{% endif %}">
                    {% if 'passwd' in error %}
                        must contains digits and symbols, min. 8 chars
                    {% elif 'invalid' in error %}
                        Incorrect password. <a href="{{ url_for('auth.forgot') }}" class="text-dark">Forgotten your password?</a>
                    {% endif %}
                </div>
            </div>

            <p class="form-text text-muted mb-3 mono">
                By using you agree with our terms and condition.
            </p>

            <div class="align-items-center d-flex">
                <button type="submit" class="btn btn-primary ms-auto w100">
                    Continue   
                </button>
            </div>
        {% endif %}
    </form>
</div>

{% include 'use_another_account.html' %}
                    
{% endblock %}