<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title %}{{ title }}{% else %}Session Sentinel demo{% endif %}</title>
    <meta name="description" content="">
    
    <meta name="x-key-xsid" content="{{ x_key_xsid() }}" />
    <meta name="x-key-screen" content="{{ x_key_screen() }}" />

    {% if not block_rotation is defined %}
    <meta name="x-key-nonce" content="{{ x_key_nonce() }}" />
    <meta name="x-key-signature" content="{{ x_key_signature() }}" />
    {% endif %}

    {% block head %}
    <script src="{{ url_for('static', filename='index.js')}}" nonce="{{ request_nonce() }}"></script>
    <script src="{{ url_for('relock.js')}}" nonce="{{ request_nonce() }}" defer></script>
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" nonce="{{ request_nonce() }}">
    <link rel="preconnect" href="https://fonts.googleapis.com" nonce="{{ request_nonce() }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" nonce="{{ request_nonce() }}" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=ads_click" nonce="{{ request_nonce() }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet" nonce="{{ request_nonce() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}" nonce="{{ request_nonce() }}">
    </style>

    <link rel="icon" type="image/png" 
          href="{{ url_for('static', filename='icons/favicon-96x96.png')}}" sizes="96x96" 
          nonce="{{ request_nonce() }}" />
    <link rel="icon" type="image/svg+xml" 
          href="{{ url_for('static', filename='icons/favicon.svg')}}" 
          nonce="{{ request_nonce() }}" />
    <link rel="shortcut icon" 
          href="{{ url_for('static', filename='icons/favicon.ico')}}" 
          nonce="{{ request_nonce() }}" />
    <link rel="apple-touch-icon" 
          href="{{ url_for('static', filename='icons/apple-touch-icon.png')}}" 
          nonce="{{ request_nonce() }}" />
    <link rel="manifest" 
          href="{{url_for('static', filename='icons/site.manifest')}}" 
          nonce="{{ request_nonce() }}" />

    <meta name="apple-mobile-web-app-title" content="relock" />

    {% endblock %}
    {% endblock %}
</head>
    <body>
        {% if current_user.is_authenticated %}
            {% include 'header.html' %}
        {% endif %}

        {% block content %}{% endblock %}

        {% if current_user.is_authenticated %}
            {% include 'footer.html' %}
        {% endif %}
        
        {% block scripts %}
            {{ bootstrap.load_js(nonce=request_nonce()) }}
        {% endblock %}
    </body>
</html>